body{

	background-image: url(../images/gallery_01.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	color: white;

}
.title{
	padding-top: 20px;

}
.title2{
	color: black;
}
fieldset {
	padding-top: 30px;
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
	border-bottom:none;
	
	
}

.x_content{
	background-color: #485f4d9f;
}

.y_content{
	background-color: #5072579f;
}
  
.row {
	padding-top: 10px;
}

form {
	font-size: 20px;
}


img{
	width: 20%;
}

.modal{
	color: black;
}